main .img {
	width: 100%;
	max-height: 350px;
	max-width: 350px;
	height: auto;
}

.input-l {
	width: calc(100% - 100px);
	display: inline-block;
	float: left;
}

.input-r {
	display: inline-block;
	float: right;
}

.newsletter {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

