main .img {
	width: 144px;
	height: auto;
}

.jm-background {
	background-color: #2e2e2e;
	color: #DA1D21; 
	font-weight: bold;
} 

.gm-background {
	background-color: #f2f4f1;
/*	color: #010302; */
} 

.no-format {
    text-decoration: none;
    color: inherit;
}

.no-format:hover {
    text-decoration: none;
        color: inherit;
}