.headline {
	width: 100%; 
	word-break: break-word;
}

.intro {
	width: 100%; 
	font-style: italic;
}

.content {
	width: 60%;
	min-width: 360px;
	background-color: #E9E8E6;
}
.fullContent {
	width: 100%;
}
.dw-contain-yt{
	width: 100%;
	position: relative;
}
.dw-ratio-1_1{
	padding-top: 100%;
}
.dw-ratio-4_3{
	padding-top: 75%;
}
.dw-ratio-3_2{
	padding-top: 66.66%;
}
.dw-ratio-8_5{
	padding-top: 62.5%;
}
.dw-ratio-16_9{
	padding-top: 56.25%;
}

.fullContent iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.fullContent video, img{
	width: 100%;
}


.artimage {
    display: block;
    width: 60%;
    margin: auto;
}